<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="heading">Сэкономьте в 2 раза на покупке квартиры в Сочи</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="img" style="height: 100%">
                    <img style="height: 100%" src="../../assets/pictures/property1.png" class="img-fluid"
                        alt="property">
                </div>
            </div>

            <div class="col-md-6 mt-5">
                <div class="page-header">
                    <h3>За счет надежной программы в рамках Жилищного кодекса</h3>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">Отсрочка под 0% годовых</li>
                    <li class="list-group-item">Без банка</li>
                    <li class="list-group-item">Государственная гарантия</li>
                    <li class="list-group-item">Принимается материнский капитал</li>
                </ul>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12 center">
                <div class="alert alert-primary">
                    <h1>Андрейченко Светлана</h1>
                    <p>
                        г. Сочи, ул. Орджоникидзе 8а
                        Персональный консультант по жилищной
                        программе для покупки жилья в Сочи
                    </p>
                </div>
            </div>
        </div>
    </div>

    <br><br><br>
    <app-call-back></app-call-back>
    <br><br><br>
</main>