@import '../shared/common';

main {
    background: url(../../assets/pictures/bg1.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.heading {
    color:$highlight;
    text-align: center;
}

.page-header {
    color: $white;
    text-align: center;
}