@import '../shared/common';
.dialog {
    width: 100%;
    height: 230vh;
    background: rgba(255, 255, 255, .95);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999;
}

.dialog__close-btn {
    color: $darker;
    transition: .3s;
    position: fixed;
    top: 15px;
    right: 15px;
    &:hover {
        cursor: pointer;
        transform: scale(1.3);
    }
}

.container {
    margin-top: 50px;
}

@media (min-width: 481px) and (max-width: 767px) {
    .dialog {
        height: 400vh;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .dialog {
        height: 400vh;
    }
}