<footer class="footer fixed-bottom">
  <div class="flex-container">
    <div class="flex-container-item item-1">
      <ul class="profile-info">
        <li>
          <h4>Андрейченко Светлана</h4>
        </li>
        <li>© 2019 | Консультант по жил. программе для покупки жилья в Сочи</li>
        <li>
          <a class="policy" href="http://xn----7sbabah7bng3brbcboaj4h.xn--p1ai/policy" _target="blank">Политика
            Конфиденциальности</a>
        </li>
      </ul>
    </div>
    <div class="flex-container-item item-2">
      <span>Свяжитесь со мной</span>
      <span><i class="fas fa-lg fa-mobile"></i> тел +7 918 305 50 49</span>
      <span><i class="fab fa-lg fa-viber"></i> Viber</span>
      <span><i class="fab fa-lg fa-whatsapp"></i> WhatsApp</span>
    </div>
    <div class="flex-container-item item-3">
      <span>Адрес офиса:</span>
      <span><i class="fas fa-lg fa-map-marker-alt"></i> г.Сочи</span>
      <span>ул Орджоникидзе, 8а</span>
    </div>
  </div>
</footer>