@import '../shared/common';
i {
    color: #02ac1e;
    cursor: pointer;
}

button[disabled] {
    background-color: $grey;
    color: $darker;
}

.form-info {
    padding: 15px;
    background-color: #fefefe;
    border-radius: 4px;
    h5,
    div,
    span {
        text-align: center;
    }
    form {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .bottom-info {
        font-size: 11px;
        margin-top: 8px;
    }
}