@import '../shared/common';

main {
    min-height: 850px;
    background: url(../../assets/pictures/bg4.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.info-row {
    padding-top: 30px;
    padding-left: 24px;
}

iframe {
    padding: 25px;
}

.highlighted {
    color: $highlight;
}

.accent {
    color: $darker;
    text-align: center;
    font-size: 24px;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: $white;
}