<main>
    <div class="container">
        <div class="row info-row">
            <div class="col-7">
                <h2>Программа работает в рамках V раздела Жилищного Кодекса и <span class="highlighted">ст. 48,49 и п.4 ст. 218</span> Гражданского Кодекса
                        РФ</h2>
                <p>Посмотрите, что говорят счастливые обладатели квартир по всей России</p>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <iframe id="youtubeiframe_1_81258702" width="100%" height="250"
                    src="//www.youtube.com/embed/u8PIGxjtAsk?rel=0&amp;fmt=18&amp;html5=1&amp;showinfo=0"
                    frameborder="0" allowfullscreen=""></iframe>
            </div>
            <div class="col-6">
                <iframe id="youtubeiframe_1_81258702" width="100%" height="250"
                    src="//www.youtube.com/embed/-ZDq6FTdil8?rel=0&fmt=18&html5=1&showinfo=0" frameborder="0"
                    allowfullscreen=""></iframe>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <iframe id="youtubeiframe_1_81258702" width="100%" height="250"
                    src="//www.youtube.com/embed/7-KGb51VtHM?rel=0&fmt=18&html5=1&showinfo=0" frameborder="0"
                    allowfullscreen=""></iframe>
            </div>
            <div class="col-6">
                <iframe id="youtubeiframe_1_81258702" width="100%" height="250"
                    src="//www.youtube.com/embed/dyjNxU9p920?rel=0&fmt=18&html5=1&showinfo=0" frameborder="0"
                    allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</main>