<!-- <iframe id="youtubeiframe84253308" width="100%" height="315"
    src="https://www.youtube.com/embed/0AJaprLCgfw?autoplay=1&amp;rel=0" frameborder="0" allowfullscreen=""></iframe>

<iframe id="youtubeiframe_1_81258702" width="100%" height="315"
    src="//www.youtube.com/embed/u8PIGxjtAsk?rel=0&amp;fmt=18&amp;html5=1&amp;showinfo=0" frameborder="0"
    allowfullscreen=""></iframe>

<iframe id="youtubeiframe_1_81258702" width="100%" height="315"
    src="//www.youtube.com/embed/-ZDq6FTdil8?rel=0&fmt=18&html5=1&showinfo=0" frameborder="0"
    allowfullscreen=""></iframe>

<iframe id="youtubeiframe_1_81258702" width="100%" height="315"
    src="//www.youtube.com/embed/7-KGb51VtHM?rel=0&fmt=18&html5=1&showinfo=0" frameborder="0"
    allowfullscreen=""></iframe>

<iframe id="youtubeiframe_1_81258702" width="100%" height="315"
    src="//www.youtube.com/embed/dyjNxU9p920?rel=0&fmt=18&html5=1&showinfo=0" frameborder="0"
    allowfullscreen=""></iframe> -->

<main class="wrapper">
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/main">Главная</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/second">Вторая</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/third">Третья</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/fourth">Четвертая</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/fifth">Пятая</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/sixth">Шестая</a>
            </li>
        </ul>
    </nav>

    <router-outlet></router-outlet>
</main>

<div class="call-me">
    <i class="fas fa-3x" [ngClass]="{'fa-times-circle': showFeedback, 'fa-phone-volume': !showFeedback}"
        (click)="toggleFeedbackForm()"></i>

    <div class="form-info"
         *ngIf="showFeedback">
        <h4>Перезвоним вам в течении 15 минут</h4>

        <form action="https://formspree.io/blinovahv@gmail.com"
              method="POST">
            <div class="form-group">
                <label for="tel">Номер телефона</label>
                <input type="tel"
                       id="tel"
                       class="form-control"
                       name="TELEPHONE"
                       placeholder="Укажите Ваш телефон" />
            </div>
            <div class="form-group">
                <label for="fio">ФИО</label>
                <input type="text"
                       id="fio"
                       class="form-control"
                       name="FIO">
            </div>
            <button type="submit" class="btn btn-success">ПЕРЕЗВОНИТЕ МНЕ</button>
        </form>

        <div>Звонок по России бесплатный</div>
        <div>+7 918 305 50 49</div>
        <div class="bottom-info">Нажимая на кнопку "ПЕРЕЗВОНИТЕ МНЕ", Вы принимаете условия политики конфиденциальности в отношении обработки персональных данных</div>
    </div>
</div>

<footer class="footer fixed-bottom">
    <div class="flex-container">
        <div class="flex-container-item item-1">
            <!-- <i class="fas fa-arrow-alt-circle-right"></i> -->
            <ul class="profile-info">
                <li>
                    <h4>Андрейченко Светлана</h4>
                </li>
                <li>© 2019 | Консультант по жил. программе для покупки жилья в Сочи</li>
                <li>
                    <a class="policy" 
                       href="http://xn----7sbabah7bng3brbcboaj4h.xn--p1ai/policy"
                       _target="blank">Политика Конфиденциальности</a>
                </li>
            </ul>
        </div>
        <div class="flex-container-item item-2">
            <span>Свяжитесь со мной</span>
            <span><i class="fas fa-lg fa-mobile"></i> тел +7 918 305 50 49</span>
            <span><i class="fab fa-lg fa-viber"></i> Viber</span>
            <span><i class="fab fa-lg fa-whatsapp"></i> WhatsApp</span>
        </div>
        <div class="flex-container-item item-3">
            <span>Адрес офиса:</span>
            <span><i class="fas fa-lg fa-map-marker-alt"></i> г.Сочи</span>
            <span>ул Орджоникидзе, 8а</span>
        </div>
    </div>
</footer>