<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12 centered">
                <h1>Сделайте решительный шаг <span class="highlighted">к своей квартире</span> в Сочи!</h1>
            </div>
            <div class="col-md-12 centered">
                <h3>Заполните форму и запишитесь на бесплатную консультацию, на которой:</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="icon centered">
                    <i class="fas fa-5x fa-home"></i>
                </div>
                <div class="info-text">
                    <h4>
                        <span class="highlighted">Я поделюсь опытом,</span>
                        как купила квартиру в Сочи в отсрочку
                        <span class="highlighted">под 0% годовых на 10 лет,</span>
                        без справок о доходах и кредитной истории, и сэкономила на покупке 5 миллионов рублей!
                    </h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="icon centered">
                    <i class="fas fa-5x fa-hand-holding-usd"></i>
                </div>
                <div class="info-text">
                    <h4>
                        Узнаете как выгодно инвестировать финансы в европейские VIP счета с доходностью 20-30% годовых в
                        валюте!
                    </h4>
                </div>
            </div>
        </div>

        <div class="row profile">
            <div class="col-md-6">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                    <div class="form-group">
                        <label for="tel">Номер телефона*</label>
                        <input type="text"
                               id="tel"
                               class="form-control"
                               name="tel"
                               prefix="+7 "
                               mask="000 000-00-00"
                               [(ngModel)]="model.tel"
                               #tel="ngModel"
                               required
                               placeholder="+7 918 305 50 49" />
                      </div>
                      <div class="form-group">
                        <label for="fio">ФИО*</label>
                        <input type="text"
                               id="fio"
                               class="form-control"
                               name="fio"
                               [(ngModel)]="model.fio"
                               #fio="ngModel"
                               required
                               placeholder="Иванов Иван Иванович" />
                      </div>

                    <button type="submit" class="btn btn-success" [disabled]="!f.form.valid">
                        ПОЛУЧИТЬ ИНСТРУКЦИЮ БЕСПЛАТНО
                    </button>
                </form>

                <p class="bottom-info">
                    Нажимая на кнопку "ЗАПИСАТЬСЯ НА БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ",
                    Вы принимаете условия <a class="policy" [routerLink]="" (click)="policyVisible = true">Политики Конфиденциальности</a> в отношении обработки персональных данных
                </p>
            </div>

            <div class="col-md-6">
                <img src="../../assets/pictures/profile.PNG" alt="profile" class="rounded float-right" />
            </div>
        </div>
    </div>
</main>

<app-dialog [(visible)]="policyVisible">
    <app-policy></app-policy>
</app-dialog>